<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bedrock.padder">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.LauncherActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.WelcomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.about.AboutArtistActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.about.AboutTapadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.about.AboutDevActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AboutActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>